.title__new {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-left: 10px;
}

.title_width {
  width: 180px;
}

.flex__new {
  display: flex;
  flex-flow: row nowrap;
}
