.way_tab {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 40px;
  &__block {
    width: 244px;
    min-height: 42px;
    border: 1px solid #dddddd;
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #bbb;
    justify-content: center;
    &:hover {
      background: #1b79e6;
      color: #fff;
      cursor: pointer;
    }
  }
}

.routes_main_publ_description {
  display: flex;
  flex-flow: row wrap;
  &__text {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #000000;
    width: 540px;
    margin-top: 40px;
    p {
      font-family: Raleway;
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      color: #000000;
      margin-right: 30px;
    }
    .routes_button {
      margin: 45px 0px 116px 0px;
      width: 180px;
      min-height: 40px;
      border: 1px solid #b10bff;
      color: #b10bff;
      text-transform: uppercase;
      font-family: Raleway;
      font-weight: 800;
      font-size: 13px;
      line-height: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

.footer__link {
  a {
    color: #1b79e7;
  }
}
